.wrapper {
    display: flex;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
}

#content-wrapper {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.sidebar-header {
    padding: 0 10px;
}

.sidebar-header > h3 {
    margin-top: 13px;
}

.collapse > .list-group-item, .collapsing > .list-group-item {
    padding: 6px 30px;
}

.container-form {
    padding: 0 50px;
}

.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}